atom-dock {
  @handle-width: 8px;
  @handle-height: 40px;

  overflow: visible;

  .atom-dock-mask {
    background-color: @ui-background;
  }

  .atom-dock-inner:not(.atom-dock-open){
    .atom-dock-mask {
      width: 0px !important;
    }
  }

  .atom-dock-resize-handle {
     position: absolute;
     z-index: 3;

    &.left {
      top: 0;
      bottom: 0;
      right: 0;

      border-right: 1px solid @base-border-color;
    }

    &.right {
      top: 0;
      bottom: 0;
      left: 0;

      border-left: 1px solid @base-border-color;
    }

    &.bottom {
      top: 0;
      right: 0;
      left: 0;

      border-left: 1px solid @base-border-color;
    }
  }

  .atom-dock-toggle-button  {
    .atom-dock-toggle-button-inner {
      transform: translateX(0);

      background-color: transparent;
      border-color: transparent;

      .icon {
        background-color: rgba(0,0,0,0.3);
        border-radius: 4px;

        &:hover {
          background-color: rgba(0,0,0,0.6);
        }

        &:before {
          content: none;
        }
      }

      .icon-chevron-left, .icon-chevron-right {
        width: 8px;
        height: 40px;
      }

      .icon-chevron-down, .icon-chevron-up {
        height: 8px;
        width: 40px;
      }
    }
  }
}
