atom-dock {

  .atom-dock-inner:not(.atom-dock-open){
    .atom-dock-mask {
      width: 0px !important;
    }
  }

  .atom-dock-resize-handle {

    position: absolute;
    z-index: 3;

    // background-color: red;

    &.left {
      top: 0;
      bottom: 0;
      right: 0;

      border-right: 1px solid @base-border-color;
    }

    &.right {
      top: 0;
      bottom: 0;
      left: 0;

      border-left: 1px solid @base-border-color;
    }
  }
}
