atom-workspace-axis {
  overflow: hidden;
}

.editor:not(.mini) {
  @padding: 12px;

  .wrap-guide {
    top: -@padding;
  }

  .gutter-container {
    padding-left: @padding;
    overflow: visible;

    .gutter {
      padding-top: @padding;
    }
  }

  .scroll-view {
    padding-top: @padding;

    // we move the editor and cursor over a bit
    // so the cursor does not get cut off on the left.
    margin-left: 1px;
  }

  atom-overlay {
    margin-top: @padding;
    margin-left: 1px;
  }

  .indent-guide-improved {
    margin-top: @padding;
  }
}
