.indent-guide-improved {
  background-color: @ui-background;

  &.indent-guide-stack {
    background-color: lighten(@primary, 50%);

    &.indent-guide-active {
      background-color: lighten(@primary, 20%);
    }
  }
}
