// Modal -------------------
// Used on top of the editor, like the Command Palette.

atom-panel.modal.from-top {
  top: 25%;

  border-radius: @radius * 1.5;
}

atom-panel.modal {
  border-radius: @radius * 1.5;

  background-color: @base-background-color;
  box-shadow: 0 0 2px rgba(0,0,0,0.4), 0 4px 18px rgba(0,0,0,0.3);

  atom-text-editor, atom-text-editor.is-focused {
    background-color: @base-background-color;
  }

  .two-lines {
    .primary-line {
      color: @text-color;
      font-size: 15px;

      &:before {
        left: 0;

        margin-right: 10px;
      }
    }
    .secondary-line {
      color: @text-color-subtle;
      margin-left: 6px;
    }

    .character-match {
      color: inherit;
      font-weight: inherit;
    }

    &.selected {
      .primary-line {
        color: white;
      }
      .secondary-line {
        color: rgba(255,255,255,0.5);
      }
    }
  }

  .key-binding {
    background: rgba(0,0,0,0.1);
  }

  .selected {
    background-color: @primary;
    color: white;

    border-radius: @radius;

    .key-binding {
      background: white;
    }
  }

  .status {
    display: none;
  }
}
