.settings-view {
  background-color: @white !important;
  .config-menu {
    margin: @space / 2;

    padding-top: 0;

    background-color: transparent;

    border-right: none;

    .nav {
      li {
        margin: @space / 4;

        a {
          padding-top: 6px;
          padding-bottom: 6px;

          border-radius: @radius;

          color: @text-color;

          &:hover {
            background-color: inherit;
          }
        }

        &.active {
          a {
            background-color: @background-color-selected;
          }
        }

        // color when this pane is in focus
        .active &.active {
          a {
            background-color: @primary;
            color: @text-color-white;
          }
        }
      }
    }
  }
}
