// Status Bar
// -------------------
// Located at the bottom.
// Displays information about the current editor.
// Overrides: atom/status-bar

atom-panel.bottom {
  position: static;
}

atom-panel-container.top {
  height: 40px;
}

.status-bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;

  font-size: @font-size;
  color: @text-color;

  height: 40px;

  background: linear-gradient(
    to bottom,
    @tool-bar-top 0%,
    @tool-bar-bottom 100%
  );

  &:before {
    content: "";
  }

  body.is-blurred & {
    background: #f8f9f8;
  }

  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.75) inset;

  .flexbox-repaint-hack {
    align-items: center;
  }

  .file-info,
  .line-ending-tile,
  .encoding-status,
  .git-status,
  .cursor-position,
  status-bar-selection,
  .highlight-selected-status,
  .github-PushPull,
  .github-ChangedFilesCount {
    display: none;
  }

  .flexbox-repaint-hack {
    height: 100%;

    .status-bar-left {
      height: 100%;
    }
  }

  // Linter
  @import "linter";

  // Grammer
  grammar-selector-status {
    opacity: 0;

    &:hover {
      opacity: 1;
    }
  }

  // Blame Info
  status-bar-blame {
    margin-right: 10px;
  }
}
