// Status Bar
// -------------------
// Located at the bottom.
// Displays information about the current editor.
// Overrides: atom/status-bar

.status-bar {
  font-size: @font-size;
  color: @text-color;

  height: 40px;

  background: linear-gradient(to bottom, @tool-bar-top 0%, @tool-bar-bottom 100%);

  box-shadow: 0 1px 0 rgba(255,255,255,0.75) inset;

  .flexbox-repaint-hack {
    align-items: center;
  }

  .file-info, .line-ending-tile, .encoding-status, .git-status, .cursor-position {
    display: none;
  }

  status-bar-blame {
    margin-right: 10px;
  }
}
