atom-panel.left.tool-panel {
  position: relative;

  width: @tool-bar-width;

  background-color: #4d4d4d;
}

.tool-bar {
  position: absolute;
  top: @title-bar-height;
  bottom: 0;
  left: 0;
  right: 0;

  border: none;

  background: none;

  &:before, &:after {
    box-shadow: none !important;
  }

  button, .btn {
    background: none;
  }
}
