
// Tree View
// -------------------

// Used to explore and open files in the current project.
// Overrides: atom/tree-view


.tree-view-scroller {
  overflow: hidden;
}

.tree-view-resizer {
  padding-top: @title-bar-height;

  border-right: 1px solid #c4c4c4;
}

.tree-view-wrapper {
  display: flex;
  flex-direction: column;

  flex-shrink: 1;
}

.tree-view-panes {
  flex-shrink: 0;

  border-bottom: 1px solid @tree-view-internal-border-color;
}

.tree-view {
  position: relative;
  flex-shrink: 1;

  margin-top: @title-bar-height;

  border-top: 1px solid @tree-view-internal-border-color;

  &:before {
    position: fixed;
    content: "Project";
    height: @title-bar-height;

    margin-top: -28px;
    margin-left: 5px;
  }
}

.list-tree {
  overflow: auto;

  .list-item {
    color: @text-color;

    &.status-modified {
      .icon:after {
        position: absolute;
        content: "";

        width: 6px;
        height: 6px;
        background-color: @text-color-warning;

        border-radius: 50%;

        left: -14px;
        top: 3px;
      }
    }

    &.status-added {
      .icon:after {
        position: absolute;

        font-family: 'Octicons Regular';
        content: "\f05d";

        width: 6px;
        height: 6px;
        color: @text-color-success;

        left: -15px;
        top: -6px;
      }
    }
  }

  .list-item.selected {
    color: @text-color-selected;
  }
}
